{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h1>About Us</h1>
        <p>What about us?</p>
        <p>What about all the times you said you had the answers?</p>
        <p>What about us?</p>
        <p>What about all the broken happy ever afters?</p>
        <p>What about us?</p>
        <p>What about all the plans that ended in disaster?</p>
        <p>What about love? What about trust?</p>
        <p>What about us?</p>

    </div>


</div>
{% endblock %}